@model ProyectoED1.Models.Hospital

@{
    ViewBag.Title = "Hospital";
}

<h2>Hospital</h2>

@*Display for Hospital's name and its beds in use.*@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedsInUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedsInUse)/10
        </dd>
    </dl>
</div>

<h5><strong>Listado de camas:</strong></h5>
@* List for the hospital's beds *@
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.BedList.First().Availability)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.BedList.First().Patient.CUI)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.BedList.First().Patient.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BedList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.CUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.ActionLink("Cambiar a Recuperado", "GetRecovered", new { id = item })
                @* Sends the bed as a parameter to GetRecovered() *@
            </td>
        </tr>
    }
</table>

<h5><strong>Cola de Contagiados:</strong></h5>

@* Display for InfectedQueue *@
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.InfectedQueue.First().CUI)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.InfectedQueue.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.InfectedQueue.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.InfectedQueue.First().Age)
        </th>

    </tr>

    @foreach (var item in Model.InfectedQueue)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
    }
</table>

<h5><strong>Cola de Sospechosos:</strong></h5>
<p style="color:darkred"><strong>@TempData["Error"]</strong></p>
<br />

@Html.ActionLink("Realizar prueba", "Test", new { hospital = Model.HospitalName })
@* Sends the hospital's name as a parameter to Test() *@
<br />
<br />
@* Display for SuspiciousQueue *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.SuspiciousQueue.First().CUI)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.SuspiciousQueue.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.SuspiciousQueue.First().LastName)
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model.SuspiciousQueue.First().Age)
        </th>

    </tr>

    @foreach (var item in Model.SuspiciousQueue)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
    }
</table>
