@model IEnumerable<ProyectoED1.Models.Hospital>

@{
    ViewBag.Title = "Hospitales";
}

<h2>Lista de hospitales</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HospitalName)
        </th>
        <th>
            Camas Ocupadas
        </th>
        <th>
            Contagiados en Cola
        </th>
        <th>
            Sospechosos en Cola
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedsInUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfectedQueue.PatientsNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuspiciousQueue.PatientsNumber)
        </td>
        <td>
            @Html.ActionLink("Ir al Hospital", "Hospital", new { name = item.HospitalName, advice = "" })
        </td>
    </tr>
}

</table>
