@model ProyectoED1.Models.PatientModel

@{
    ViewBag.Title = "Nuevo Caso";
}

<h2>Agregar Sospechoso</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="Department" name="Department">
                    <option>Seleccionar Departamento</option>
                    <option>Alta Verapaz</option>
                    <option>Baja Verapaz</option>
                    <option>Chiquimula</option>
                    <option>Petén</option>
                    <option>El Progreso</option>
                    <option>Quiché</option>
                    <option>Escuintla</option>
                    <option>Guatemala</option>
                    <option>Huehuetenango</option>
                    <option>Izabal</option>
                    <option>Jalapa</option>
                    <option>Jutiapa</option>
                    <option>Quetzaltenango</option>
                    <option>Retalhuleu</option>
                    <option>Sacatepéquez</option>
                    <option>San Marcos</option>
                    <option>Santa Rosa</option>
                    <option>Sololá</option>
                    <option>Suchitepequez</option>
                    <option>Totonicapán</option>
                    <option>Zacapa</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Municipality, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Municipality, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Municipality, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Symptoms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Symptoms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Symptoms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CUI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CUI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CUI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.LabelFor(model => model.ArrivalDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-group" style="margin-left: 195px">
            <input id="ArrivalDate" type="datetime-local" name="ArrivalDate" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InfectionDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p style="margin-top: 10px"><strong>Marque los siguientes checkbox si cumple con la descripción de alguno de ellos:</strong></p>
                @Html.CheckBox("Europe", false) <strong>¿Ha viajado recientemente a Europa?</strong>
                <br />
                @Html.CheckBox("InfectedSibling", false) <strong>¿Tiene algún familiar que esté contagiado con <em>COVID-19</em>?</strong>
                <br />
                @Html.CheckBox("SocialMeeting", false) <strong>¿Ha participado en alguna reunión social con un sospechoso de <em>COVID-19</em>?</strong>
                <br />
                @Html.CheckBox("InfectedFriend", false) <strong>¿Conoce a alguien que esté contagiado con <em>COVID-19</em>?</strong>
                <br />
                <br />
                <p><strong>Si desea agregar alguna descripción adicional del posible contagio puede ingresarla a continuación:</strong></p>
                @Html.TextAreaFor(model => model.InfectionDescription, new { htmlAttributes = new { @class = "form-control" } })
                <br />
                <font color="red"><strong>@Html.ValidationMessageFor(model => model.InfectionDescription, "", new { @class = "text-danger" })</strong></font>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
