@model ProyectoED1.Models.Statistics

@{
    ViewBag.Title = "Estadísticas";
}

<h2>Estadísticas del País</h2>

@* Display for CountryStatistics variable in Storage. *@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Infected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Infected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspicious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspicious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositivePercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositivePercentage)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recovered)
        </dd>

    </dl>
</div>